.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}